.alert {
    padding: 16px;
    border-radius: 4px;
    border: 1px solid;
}

.error {
    background-color: #fee;
    border-color: #fcc;
    color: #c33;
}

.warning {
    background-color: #fff3cd;
    border-color: #ffc107;
    color: #856404;
}

.info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}
